:root {
  --font-family-inter: "Inter", sans-serif;
  --text-black: rgba(0, 0, 0, 1);
}

.text-black {
  color: var(--text-black);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(25, 187, 253, 1);
}

main {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 24px;
}
header {
  margin-top: 2rem;
  position: fixed;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 3vh;
  text-align: center;
}

.game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 3vh;
  text-align: top;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60vw;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
}
.explication-contenu{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
#left {
  background-color: seagreen;
  height: 50vh;
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
}

#right {
  background-color: rgb(128, 135, 240);
  height: 50vh;
  width: 50vw;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 3rem;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}
h3 {
  font-family: var(--font-family-inter);
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.desktop-1-1 {
  @media (max-width: 1440px) {
    .desktop-1-1 {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media (max-width: 768px) {
    .desktop-1-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

/* Empêche la page de scroller normalement */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
/*style scroll*/
/* Active un scroll vertical dans la zone de questions uniquement */
#scrolly {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* pour IE/Edge */
  scrollbar-width: none; /* pour Firefox */
}

#scrolly::-webkit-scrollbar {
  display: none; /* pour Chrome/Safari */
}

/* Chaque section occupe 100% de l'écran */
.step {
  height: 100vh; /* 100% de la hauteur de l'écran */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.step.is-active {
  opacity: 1;
  width: 100%;
}
.answer {
  display: none;
}

.answer.is-visible {
  display: block;
  /* Vous pouvez ajouter des animations ou des transitions ici si nécessaire */
}

/* Styles pour la balance */

.plateau {
  z-index: 1;
  transition: transform 0.8s ease-out;
  position: absolute;
}

.left-plateau {
  position: absolute;
  top: 31%; /* Ajuster selon votre tige */
  left: -12%; /* Ajuster selon le visuel */
  z-index: 3;
}

.right-plateau {
  position: absolute;
  top: 31%;
  right: -12%;
  z-index: 1;
}


#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Aligne la tige et le socle verticalement */
  justify-content: center;
  z-index: 2;
  width: 400px; /* Ajustez selon la largeur de la tige et du socle */
  height: 500px; /* Ajustez selon la hauteur de la tige et du socle */
  pointer-events: none; /* Permet aux événements de passer à travers cet élément */
}

/* Balance SVG */
.balance-svg {
  width: 400px;
  height: 400px;
  display: block;
  overflow: visible;
  transform-origin: center top;
  transition: transform 0.8s ease-in-out;
  z-index: 4;
}

/* Tige placée au centre de la balance */
.tige {
  width: 400px;
  height: auto;
  y: 205;
  z-index: 2;
}

/* Socle centré sous la tige */
.socle {
  width: 200px; /* Largeur du socle */
  height: 550px; /* Hauteur du socle */
  position: absolute; /* Nécessaire pour centrer avec left */
  bottom: 0; /* Place le socle au bas du conteneur */
  left: 50%; /* Centre horizontalement */
  transform: translateX(
    25.5%
  ); /* Compense la largeur pour un centrage parfait */
}
